body {
	text-align: center;
}

#game {
	display: inline-block;
	height: 650px;
	width: 650px;
}

.playable-select-menu {
	margin-bottom: 5px;
}

.playable-select-menu div {
 	display: inline-block;
	vertical-align: middle;
}

 .playable-select-menu div:last-child {
 	text-align: left;
 	padding-left: 10px;
 }

.playable-icons {
	border: 1px solid black;
}

.playable-icon {
	display: inline-block;
	height: 100px;
	width: 100px;
	opacity: .75;
}

.playable-icon.active {
	animation: blink .25s infinite alternate;
}

.hide {
	opacity: 0;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: .5 }
}