.playable-select-menu * {
	vertical-align: middle;
 }

 .playable-select-menu p {
 	display: inline-block;
 	margin-left: 10px;
 }

.playable-icon {
	display: inline-block;
	height: 100px;
	width: 100px;
	opacity: .75;
}

.playable-icon.active {
	animation: blink .25s infinite alternate;
}

.hide {
	opacity: 0;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: .5 }
}